body {
  font-family: "Poppins", sans-serif;
  background-color:rgb(247, 238, 226);
  color: #333;
  margin: 0;
}

header {
  background: #4caf93;
  color: white;
  text-align: center;
  padding: 19px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(94, 28, 216);
}

main {
  width: 700px;
  margin: 2rem auto;
  background: white;
  padding: 32px;
  border-radius: 10px;
}

h1, h2, h3 {
  color: #2e5e4f;
}

.hero {
  text-align: center;
  padding: 32px 16px;
}

.btn {
  display: inline-block;
  background: #4caf93;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background: #3b8e76;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form input, .form select, .form textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form button {
  background: #4caf93;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
}

.form button:hover {
  background: #3b8e76;
}

.card {
  background: #e9f5f1;
  padding: 1rem;
  border-left: 5px solid #4caf93;
  border-radius: 6px;
  margin: 1rem 0;
}

footer {
  text-align: center;
  background: #4caf93;
  color: white;
  padding: 16px;
  margin-top: 32px;
}
